/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --branding-color: #6c63ff;
  --secondary-color: rgb(184, 214, 226);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
p {
  font-weight: normal;
  line-height: 30px;
  font-size: 18px;
  color: #272142;
}
h2 {
  font-size: 64px;
}
.hero h2 {
  font-size: 24px;
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
}
.hero p {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: #272142;
}
.hero i {
  margin-right: 20px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.icon {
  font-size: 40px;
}
.btn-branded {
  background: var(--branding-color);
  padding: 18px 30px;
  border-radius: 4px;
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.btn-branded:hover {
  background: transparent;
  color: var(--branding-color);
  text-decoration: none;
}
.border-mid {
  border: 2px solid white;
  border-radius: 3px;
  background: rgb(30, 133, 174);
  display: block;
  padding: 40px;
  margin: 0 300px;
  margin-top: -40px;
}
.demoncode-btn {
  margin-left: -2px;
}
.btn-demo {
  background: var(--secondary-color);
  margin-right: 20px;
  padding: 9px 30px;

  font-family: var(--default-font-family);
  font-weight: normal;
}
.btn-code {
  border: 2px solid var(--secondary-color);
  padding: 9px 30px;
  padding: 9px 30px;

  font-family: var(--default-font-family);
}
.project-description {
  padding: 0 61px;
}
@media (max-width: 960px) {
  .project-description {
    text-align: center;
    margin-top: -38px;
  }
  .hero h1 {
    font-size: 44px;
  }
  .border-mid {
    display: none;
  }
  .demoncode-btn {
    display: flex;
    justify-content: center;
  }
  .project-description h2 {
    font-size: 40px;
  }
  .hero {
    padding: 160px 20px;
  }
}
@media (max-width: 500px) {
  .hero h1 {
    font-size: 60px;
  }
  .project-description h2 {
    font-size: 30px;
  }
}
